<div class="m-0 p-0" style="background-image: url(<%= image_path("create_cocktail.png") %>); opacity: 0.6; background-size: cover; height: 100vh">
  <div class="text-left mx-auto w-50 pt-4" style="opacity: 1">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <hr>
      <%= f.label :image_url, "Add Image URL" %>
      <%= f.input :image_url, label: false %>
      <p>OR</p>
      <label class="btn btn-outline-secondary">
        Add Image from HDD
        <span style="display:none;">
          <%= f.input :photo, as: :file %>
        </span>
      </label>
      <hr>
      <br>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
